
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #000; margin: 0 auto; background: #fdfdfd;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%;}



header {
	background: #efefef;

	.header_area {
		background: #e02b6c;
		max-width: 750px;
		padding: 60px 0 52px;
		margin:  19px auto 0;
	}
	.header_logo {
		max-width: 191px;
		padding: 1% 0 0 4%;
		line-height: 0;
	}
	.header_heading {
		max-width: 341px;
		padding: 0;
		margin: 0 auto 0;
	}
}

.content_wrap {
	padding: 45px 0 30px;
	.content_inner {
		max-width: 750px;
		margin: 0 auto;
	}
	.content_heading {
		text-align: center;
		line-height: 1.3;
		font-size: 28px;
	}
	.content_text {
		margin: 25px 0 0;
		text-align: center;
		line-height: 1.5;
		font-weight: bold;
		font-size: 22px;
		letter-spacing: 1.2px;
		color: #8c8c8c;
	}
}
.c_a {
	.wp {
		background: #efefef;
		max-width: 750px;
		margin: 0 auto;
	}
	.c_at {
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		letter-spacing:1.2px;
	}
	.i_i {
		position: relative;
		overflow: hidden;
		background: #efefef;
		padding: 10px 45px;
		max-width: 650px;
		margin: 0 auto;
		box-sizing: border-box;
		&:before {
			content: 'J\AK';
			position: absolute;
			top: 45%;
			left: 1%;
			white-space:pre;
			text-align: center;
			font-weight: bold;
			font-size: 35px;
		}
		&:after {
			content: 'オトナ';
			position: absolute;
			top: 43%;
			right: 0;
			-webkit-writing-mode: vertical-rl;
			-ms-writing-mode: tb-rl;
			writing-mode: vertical-rl;
			text-align: center;
			font-weight: bold;
			font-size: 30px;
		}
		li {
			float: left;
			width: 49.2%;
			padding: 2%;
			margin: 0 0 0 1.6%;
			box-sizing: border-box;
			a {
				display: block;
				text-align: center;
				img {
					max-width: 247px;
				}
			}

			&:nth-child(1) {
				background: url(https://goo.gl/QyAXiA) 0 0 no-repeat;
				background-size: cover;
				margin: 0;
			}
			&:nth-child(2) {
				background: url(https://goo.gl/5S3h8K) 0 0 no-repeat;
				background-size: cover;
			}
			&:nth-child(3) {
				background: url(https://goo.gl/4yJhDw) 0 0 no-repeat;
				background-size: cover;
				margin: 1% 0 0 0;

			}
			&:nth-child(4) {
				background: url(https://goo.gl/HEt1tH) 0 0 no-repeat;
				background-size: cover;
				margin: 1% 0 0 1.6%;
			}
		}
		.active {
			border: 4px solid #eb6a7a;
		}
	}
	.tb {
		overflow: hidden;
		max-width: 680px;
		margin: 40px auto 0;
		li {
			float: left;
			background: #efefef;
			width: 24%;
			padding: 0 0 10px;
			margin: 0 0 0 1.3%;
			text-align: center;
			a {
				display: block;
				background: #d2d2d2;
				padding: 13px 0;
				border-radius: 6px;
				font-size: 20px;
				color: #fff;
				span {
					font-size: 18px;
				}
			}

			&:first-child {
				margin: 0;
			}
		}
		.active {
			a {
				position: relative;
				background: #e02b6c;
				&:before {
					content: '';
					position: absolute;
					bottom: -9px;
					left: 45%;
					background: url(https://goo.gl/QPzmtH) 0 0 no-repeat;
					background-size: 18px 9px;
					width: 18px;
					height: 9px;
				}
			}
		}
	}
}
.tab_con {
	.tab_area {
		max-width: 750px;
		padding: 0;
		margin: 0 auto;
		&:nth-of-type(1) {
			padding: 185px 0 0;
		}
	}

	.tab_content {
	}

	.t_c_w {
		background: #fdfdfd;
		padding: 32px 35px 39px;
		margin: 72px 0 0;

		&:first-of-type {
			margin: 0;
		}
		figure {
			margin: 15px 0 0;
		}
		.icon_movie {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 36%;
				left: 42%;
				background: url(https://goo.gl/5152om) 0 0 no-repeat;
				background-size: 126px 126px;
				width: 126px;
				height: 126px;
				opacity: .9;
				z-index: 2;
			}
			a {
				display: block;
			}
		}

		.tab_heading {
			font-size: 35px;
			line-height: 1.3;
		}
		.time {
			margin: 15px 0 0;
			font-size: 24px;
			line-height: 1.2;
			letter-spacing: 1.4px;
			font-weight: bold;
			color: #8c8c8c;
		}
		.text {
			margin: 13px 0 0;
			font-size: 20px;
			line-height: 1.5;
			color: #8c8c8c;
		}
		.btn {
			margin: 34px 0 0;
			a {
				display: block;
				background: #eb6a7a;
				padding: 20px 0;
				font-size: 32px;
				border-radius: 4px;
				text-align: center;
				color: #fff;
			}
		}
		.more {
			margin: 33px 0 0;
			text-align: right;
			a {
				position: relative;
				padding: 0 40px 0 0;
				font-size: 23px;
				font-weight: bold;
				color: #56c123;
				&:after {
					content: '';
					position: absolute;
					top: 20%;
					right: 0;
					background: url(https://goo.gl/xKEb2u) 0 0 no-repeat;
					background-size: 12px 20px;
					width: 12px;
					height: 20px;
				}
			}
		}
	}
	.movie_wrap {
		max-width: 680px;
		margin: 0 auto;

		.movie_inner {
			position: relative;
			width: 100%;
			padding-top: 56.25%;
			margin: 15px auto 0;
		}
		.play {
			position: absolute;
			z-index: 10;
			left: 0;
			top: 0;
			width: 680px;
			height: 387px;
			cursor: pointer;
		}
		.i_a {
				&:before {
					content: '';
					position: absolute;
					top: 36%;
					left: 42%;
					background: url(https://goo.gl/5152om) 0 0 no-repeat;
					background-size: 126px 126px;
					width: 126px;
					height: 126px;
					opacity: .9;
					z-index: 100;
				}
		}
		iframe {
			position: absolute;
			z-index: 5;
			left: 0;
			top: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}
	.point {
		margin: 30px 0 0;
		.point_h {
			font-weight: bold;
			font-size: 24px;
		}
		.point_t {
			margin: 6px 0 0;
			font-size: 22px;
			font-weight: bold;
			line-height: 1.55;
			letter-spacing: 1.2px;
			color: #8c8c8c;
		}
		.large {
			margin: 28px 0 0;

		}
		.thumb {
			// overflow: hidden;
			display:flex;
			justify-content:space-between;
			margin: 15px 0 0;
			li {
				margin: 0 0 0 2%;
				&:first-child {
					margin: 0;
				}
				a {
					overflow: hidden;
					display: block;
					line-height:0;
					transition: none;
					img {
						margin: 0;
					}

				}
				.active {
					box-sizing: border-box;
					border: 4px solid #eb6a7a;
					img {
						margin: -2px 0;
						opacity: .8;

					}
				}
			}
		}
	}
}
.line {
	background: #efefef;
	height: 38px;
}
.last_text {
	margin: 30px 0 0;
	a {
		display: block;
		text-align: center;
		font-size: 24px;
		color: #000;
	}
}

.past {
	.past_wrap {
		max-width: 750px;
		padding: 30px 0 39px;
		margin: 0 auto;
		text-align: center;
	}
	.past_heading {
		font-size: 34px;
		font-weight: bold;
		color: #000;
	}
	.past_text {
		margin: 19px 0 0;
		font-size: 23px;
		font-weight: bold;
		color: #8c8c8c;
	}
	.past_inner {
		margin: 68px 0 0;
		text-align: left;
		.p_i_heading {
			font-size: 34px;
		}

		.p_i_item {
			margin: 20px 0 0;
			li {
				overflow: hidden;
				margin: 30px 0 0;
				&:first-child {
					margin: 0;
				}
				figure {
					float: left;
					width: 45.3%;
					max-width: 341px;
				}
				.P_i_text {
					float: right;
					width: 50%;
				}
				.p_i_point {
					font-size: 24px;
					font-weight: bold;
				}
				.p_i_t_a {
					margin: 30px 0 0;
					a {
						display: block;
						font-size: 24px;
						font-weight: bold;
						line-height: 1.2;
						color: #8c8c8c;
					}
				}
			}
		}
	}
}




@media screen and (max-width: 1024px) {
	header {
		.header_logo {
			padding: 1.5% 0 0 4%;
			line-height: 0;
			img {
				width: 80%;
			}
		}
	}
}


@media screen and (max-width: 768px) {

	header {
		.header_area {
			background-size: cover;
			padding: 8% 0 7%;
			margin:  2% auto 0;
		}
		.header_logo {
			padding: 2% 0 0 4%;
		}
		.header_heading {
			width: 100%;
			margin: 0 auto 0;
			text-align: center;
			img {
				width: 100%;
			}
		}
	}

	.content_wrap {
		padding: 6% 0 6%;
		.content_heading {
			line-height: 1.3;
			font-size: calc(44vw/12);
		}
		.content_text {
			margin: 4% 0 0;
			line-height: 1.5;
			font-size: calc(35vw/12);
			letter-spacing: 1.2px;
		}
	}
	.c_a {
		width: 90%;
		margin: 0 auto;
		.c_at {
			font-size: calc(47vw/12);
			letter-spacing:1.2px;
		}
		.i_i {
			padding: 10px 45px;
			margin: 0 auto;
			&:before {
				top: 45%;
				left: 1%;
				font-size: calc(56vw/12);
			}
			&:after {
				top: 43%;
				right: 0;
				font-size: calc(47vw/12);
			}
			li {
				width: 49.2%;
				padding: 1.8%;
				margin: 0 0 0 1.6%;
				box-sizing: border-box;
				a {
					display: block;
				}

				&:nth-child(1) {
					background: url(https://goo.gl/QyAXiA) 0 0 no-repeat;
					background-size: cover;
					margin: 0;
				}
				&:nth-child(2) {
					background: url(https://goo.gl/5S3h8K) 0 0 no-repeat;
					background-size: cover;
				}
				&:nth-child(3) {
					background: url(https://goo.gl/4yJhDw) 0 0 no-repeat;
					background-size: cover;
					margin: 1% 0 0 0;
				}
				&:nth-child(4) {
					background: url(https://goo.gl/HEt1tH) 0 0 no-repeat;
					background-size: cover;
					margin: 1% 0 0 1.6%;
				}
			}
			.active:nth-child(1) {
				background: url(https://goo.gl/SzDs4q) 0 0 no-repeat;
				background-size: cover;
			}
			.active:nth-child(2) {
				background: url(https://goo.gl/JmK5Ef) 0 0 no-repeat;
				background-size: cover;
			}
			.active:nth-child(3) {
				background: url(https://goo.gl/x2B8uS) 0 0 no-repeat;
				background-size: cover;
			}
			.active:nth-child(4) {
				background: url(https://goo.gl/PZf9n6) 0 0 no-repeat;
				background-size: cover;
			}
		}
		.tb {
			margin: 5.5% auto 0;
			width: 100%;
			li {
				float: left;
				background: #efefef;
				width: 24%;
				padding: 0 0 10px;
				margin: 0 0 0 1.3%;
				text-align: center;
				a {
					padding: 9% 0;
					border-radius: 5px;
					font-size: calc(34vw/12);
					white-space: nowrap;
					span {
						font-size: calc(30vw/12);
					}
				}

				&:first-child {
					margin: 0;
				}
			}
			.active {
				a {
					position: relative;
					background: #e02b6c;
					&:before {
						content: '';
						position: absolute;
						bottom: -9px;
						left: 45%;
						background: url(https://goo.gl/QPzmtH) 0 0 no-repeat;
						background-size: 18px 9px;
						width: 18px;
						height: 9px;
					}
				}
			}
		}
	}

	.tab_con {

		.tab_area {
			margin: 0 auto;
			&:nth-of-type(1) {
				padding: 24% 0 0;
			}
		}

		.tab_content {
		}

		.t_c_w {
			background: #fff;
			padding: 4% 4% 4.5%;
			margin: 9% 0 0;

			figure {
				margin: 4% 0 0;
			}
			.icon_movie {
				&:before {
					top: 33%;
					left: 41%;
					background-size: 105px 105px;
					width: 105px;
					height: 105px;
				}
			}

			&:first-of-type {
				margin: 0;
			}

			.tab_heading {
				font-size: calc(60vw/12);
			}
			.time {
				margin: 2% 0 0;
				font-size: calc(46vw/12);
				letter-spacing: 1.3px;
			}
			.text {
				margin: 2% 0 0;
				font-size: calc(35vw/12);
				letter-spacing: 1.3px;
			}
			.btn {
				margin: 4% 0 0;
				a {
					padding: 3% 0;
					font-size: calc(54vw/12);
					border-radius: 5px;
				}
			}
			.more {
				margin: 5% 0 0;
				a {
					padding: 0 6% 0 0;
					font-size: calc(31vw/12);
					&:after {
						top: 20%;
						right: 0;
						background-size: 12px 20px;
						width: 12px;
						height: 20px;
					}
				}
			}
		}
		.movie_wrap {
			max-width: 680px;
			margin: 0 auto;

			.movie_inner {
				position: relative;
				width: 100%;
				padding-top: 56.25%;
				margin: 15px auto 0;
			}
			.play {
				width: 100%;
				height: auto;
			}
			.i_a {
				&:before {
					top: 33%;
					left: 41%;
					background-size: 105px 105px;
					width: 105px;
					height: 105px;
				}
			}
			iframe {
				position: absolute;
				z-index: 5;
				left: 0;
				top: 0;
				width: 100% !important;
				height: 100% !important;
			}
		}
		.point {
			margin: 4% 0 0;
			.point_h {
				font-size: calc(52vw/12);
			}
			.point_t {
				margin: 2% 0 0;
				font-size: calc(46vw/12);
				line-height: 1.4;
				letter-spacing: 1px;
			}
			.large {
				margin: 5% 0 0;

			}
			.thumb {
				margin: 2% 0 0;
				li {
					margin: 0 0 0 2%;
					&:first-child {
						margin: 0;
					}
					a {
						overflow: hidden;
						display: block;
						line-height:0;
						transition: none;
						img {
							margin: 0;
						}

					}
					.active {
						box-sizing: border-box;
						border: 4px solid #eb6a7a;
						img {
							margin: -2px 0;
						}
					}
				}
			}
		}
	}
	.past {
		.past_wrap {
			padding: 4% 4% 5%;
		}
		.past_heading {
			font-size: calc(56vw/12);
		}
		.past_text {
			margin: 3.3% 0 0;
			font-size: calc(38vw/12);
			font-weight: bold;
			color: #8c8c8c;
		}
		.past_inner {
			margin: 8% 0 0;
			.p_i_heading {
				font-size: calc(54vw/12);
			}

			.p_i_item {
				margin: 3% 0 0;
				li {
					margin: 4% 0 0;
					&:first-child {
						margin: 0;
					}
					figure {
						float: left;
						width: 45.3%;
						max-width: 341px;
					}
					.p_i_point {
						font-size: calc(41vw/12);
					}
					.p_i_t_a {
						margin: 8% 0 0;
						a {
							font-size: calc(41vw/12);
							line-height: 1.2;
						}
					}
				}
			}
		}
	}
	.line {
		height: 28px;
	}
	.last_text {
		margin: 4% 0 0;
		a {
			font-size: calc(46vw/12);
		}
	}
}




@media screen and (max-width: 640px) {
	.tab_con {
		.t_c_w {
			figure {
				margin: 3% 0 0;
			}
			.icon_movie {
				&:before {
					top: 33%;
					left: 41%;
					background-size: 80px 80px;
					width: 80px;
					height: 80px;
				}
			}
		}
	}
}
@media screen and (max-width: 480px) {

	header {
		.header_area {
			background-size: cover;
			padding: 8% 0 7%;
			margin:  2% auto 0;
		}
		.header_logo {
			padding: 2% 0 0 4%;
			img {
				width: 62%;
			}
		}
		.header_heading {
			margin: 0 auto 0;
			width: 100%;
			img {
				width: 64%;
			}
		}
	}

	.content_wrap {
		padding: 6% 0 0;
		.content_heading {
			line-height: 1.3;
			font-size: calc(50vw/12);
		}
		.content_text {
			margin: 4% 0 0;
			line-height: 1.5;
			font-size: calc(40vw/12);
			letter-spacing: 1px;
		}
	}

	.c_a {
		width: 90%;
		padding: 1% 0 0;
		margin: 0 auto;
		.c_at {
			font-size: calc(47vw/12);
			letter-spacing:1.2px;
		}
		.i_i {
			padding: 2% 6.5%;
			margin: 0 auto;
			&:before {
				top: 45%;
				left: 1%;
				font-size: calc(56vw/12);
			}
			&:after {
				top: 43%;
				right: 0;
				font-size: calc(47vw/12);
			}
			li {
				width: 49.2%;
				padding: 1.8%;
				margin: 0 0 0 1.6%;
				box-sizing: border-box;
				a {
					display: block;
				}

				&:nth-child(1) {
					background: url(https://goo.gl/QyAXiA) 0 0 no-repeat;
					background-size: cover;
					margin: 0;
				}
				&:nth-child(2) {
					background: url(https://goo.gl/5S3h8K) 0 0 no-repeat;
					background-size: cover;
				}
				&:nth-child(3) {
					background: url(https://goo.gl/4yJhDw) 0 0 no-repeat;
					background-size: cover;
					margin: 1% 0 0 0;

				}
				&:nth-child(4) {
					background: url(https://goo.gl/HEt1tH) 0 0 no-repeat;
					background-size: cover;
					margin: 1% 0 0 1.6%;
				}
			}
			.active:nth-child(1) {
				background: url(https://goo.gl/SzDs4q) 0 0 no-repeat;
				background-size: cover;
			}
			.active:nth-child(2) {
				background: url(https://goo.gl/JmK5Ef) 0 0 no-repeat;
				background-size: cover;
			}
			.active:nth-child(3) {
				background: url(https://goo.gl/x2B8uS) 0 0 no-repeat;
				background-size: cover;
			}
			.active:nth-child(4) {
				background: url(https://goo.gl/PZf9n6) 0 0 no-repeat;
				background-size: cover;
			}
		}
		.tb {
			margin: 5.5% auto 0;
			width: 100%;
			li {
				float: left;
				background: #efefef;
				width: 24%;
				padding: 0 0 10px;
				margin: 0 0 0 1.3%;
				text-align: center;
				a {
					padding: 9% 0;
					border-radius: 4px;
					font-size: calc(34vw/12);
					white-space: nowrap;
					span {
						display: inline-block;
						margin: 0 2%;
						font-size: calc(32vw/12);
					}
				}

				&:first-child {
					margin: 0;
				}
			}
			.active {
				a {
					position: relative;
					background: #e02b6c;
					&:before {
						content: '';
						position: absolute;
						bottom: -4px;
						left: 47%;
						background: url(https://goo.gl/QPzmtH) 0 0 no-repeat;
						background-size: 9px 4.5px;
						width: 9px;
						height: 4.5px;
					}
				}
			}
		}
	}

	.tab_con {

		.tab_area {
			margin: 0 auto;
		}
		.tab_content {
		}

		.t_c_w {
			background: #fff;
			padding: 4% 4% 4.5%;
			margin: 9% 0 0;

			.icon_movie {
				&:before {
					top: 32%;
					left: 38%;
					background-size: 75px 75px;
					width: 75px;
					height: 75px;
				}
			}

			&:first-of-type {
				margin: 0;
			}

			.tab_heading {
				font-size: calc(57vw/12);
			}
			.time {
				margin: 2% 0 0;
				font-size: calc(43vw/12);
				letter-spacing: 1.3px;
			}
			.text {
				margin: 2% 0 0;
				font-size: calc(38vw/12);
				letter-spacing: 1.3px;
			}
			.btn {
				margin: 4% 0 0;
				a {
					padding: 3% 0;
					font-size: calc(48vw/12);
					border-radius: 4px;
				}
			}
			.more {
				margin: 5% 0 0;
				a {
					padding: 0 6% 0 0;
					font-size: calc(34vw/12);
					&:after {
						top: 20%;
						right: 0;
						background-size: 6px 10px;
						width: 6px;
						height: 10px;
					}
				}
			}
		}
		.movie_wrap {
			max-width: 680px;
			margin: 0 auto;

			.movie_inner {
				position: relative;
				width: 100%;
				padding-top: 56.25%;
				margin: 15px auto 0;
			}
			.i_a {
				&:before {
					top: 32%;
					left: 38%;
					background-size: 75px 75px;
					width: 75px;
					height: 75px;
				}
			}
			iframe {
				position: absolute;
				z-index: 5;
				left: 0;
				top: 0;
				width: 100% !important;
				height: 100% !important;
			}
		}
		.point {
			margin: 3% 0 0;
			.point_h {
				font-size: calc(52vw/12);
			}
			.point_t {
				margin: 2% 0 0;
				font-size: calc(46vw/12);
				line-height: 1.4;
				letter-spacing: 1px;
			}
			.large {
				margin: 4% 0 0;

			}
			.thumb {
				margin: 2% 0 0;
				li {
					margin: 0 0 0 2%;
					&:first-child {
						margin: 0;
					}
					.active {
						box-sizing: border-box;
						border: 2px solid #eb6a7a;
						img {
							margin: -1px 0;
						}
					}
				}
			}
		}
	}
	.past {
		.past_wrap {
			padding: 4% 4% 5%;
		}
		.past_heading {
			font-size: calc(58vw/12);
		}
		.past_text {
			margin: 3.3% 0 0;
			font-size: calc(40vw/12);
			font-weight: bold;
			color: #8c8c8c;
		}
		.past_inner {
			margin: 8% 0 0;
			.p_i_heading {
				font-size: calc(56vw/12);
			}

			.p_i_item {
				margin: 3% 0 0;
				li {
					padding: 1% 0 0;
					margin: 3% 0 0;
					&:first-child {
						margin: 0;
					}
					figure {
						float: left;
						width: 45.3%;
					}
					.p_i_point {
						font-size: calc(43vw/12);
					}
					.p_i_t_a {
						margin: 6% 0 0;
						a {
							font-size: calc(43vw/12);
							line-height: 1.3;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 414px) {
	header {
		.header_logo {
			img {
				width: 50%;
			}
		}
		.header_area {
			margin:  2% auto 0;
		}
		.header_heading {
			margin: 0 auto 0;
			width: 100%;
			img {
				width: 57%;
			}
		}
	}
	.tab_con {
		.t_c_w {
			.icon_movie {
				&:before {
					top: 32%;
					left: 39%;
					background-size: 75px 75px;
					width: 75px;
					height: 75px;
				}
			}
		}

		.movie_wrap {
			.i_a {
				&:before {
					top: 32%;
					left: 39%;
					background-size: 75px 75px;
					width: 75px;
					height: 75px;
				}
			}
		}
	}
	.line {
		height: 18px;
	}
	.last_text {
		margin: 4% 0 0;
		a {
			font-size: calc(50vw/12);
		}
	}
}

@media screen and (max-width: 375px) {
	header {
		.header_logo {
			img {
				width: 50%;
			}
		}
		.header_area {
			margin:  2% auto 0;
		}
		.header_heading {
			margin: 0 auto 0;
			width: 100%;
			img {
				width: 51%;
			}
		}
	}
	.tab_con {
		.t_c_w {
			.icon_movie {
				&:before {
					top: 34%;
					left: 39%;
					background-size: 65px 65px;
					width: 65px;
					height: 65px;
				}
			}
		}
		.movie_wrap {
			.i_a {
				&:before {
					top: 34%;
					left: 39%;
					background-size: 65px 65px;
					width: 65px;
					height: 65px;
				}
			}
		}
	}
}
@media screen and (max-width: 320px) {
	header {
		.header_logo {
			img {
				width: 50%;
			}
		}
		.header_area {
			margin:  2% auto 0;
		}
		.header_heading {
			margin: 0 auto 0;
			width: 100%;
			img {
				width: 44%;
			}
		}
	}
	.tab_con {
		.t_c_w {
			.icon_movie {
				&:before {
					top: 35%;
					left: 39%;
					background-size: 55px 55px;
					width: 55px;
					height: 55px;
				}
			}
		}
		.movie_wrap {
			.i_a {
				&:before {
					top: 35%;
					left: 39%;
					background-size: 55px 55px;
					width: 55px;
					height: 55px;
				}
			}
		}
	}
}


@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }

.ani_list01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3s 1 forwards; }
.ani_list02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.5s 1 forwards; }
.ani_list03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4s 1 forwards; }
.ani_list04 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.5s 1 forwards; }


.content_ballon {
	-webkit-animation-name:fuwafuwa; /* 上下のアニメーション */
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	/*-webkit-animation-direction:alternate;*/
	-webkit-animation-timing-function:ease;

	-moz-animation-name:fuwafuwa;
	-moz-animation-duration:2s;
	-moz-animation-iteration-count:infinite;
	/*-moz-animation-direction:alternate;*/
	-moz-animation-timing-function:ease;
}
@-webkit-keyframes fuwafuwa {
	0% {-webkit-transform:translate(0, 0);}
	50% {-webkit-transform:translate(0, -10px);}
	100% {-webkit-transform:translate(0, 0);}
}
@-moz-keyframes fuwafuwa {
	0% {-moz-transform:translate(0, 0);}
	50% {-moz-transform:translate(0, -10px);}
	100% {-moz-transform:translate(0, 0);}
}


.banner {
	background: #efefef;
	padding: 63px 0 36px;
	.banner_wrap {
		max-width: 660px;
		margin: 0 auto;
	}

	.banner_btn {
		a {
			position: relative;
			display: block;
			background: #171717;
			padding: 19px 0 19px 22px;
			font-size: 23px;
			border-radius: 8px;
			line-height: 1.4;
			color: #fff;
			span {
				font-size: 19px;
				color: #56c123;
			}
			&:after {
				content: '';
				position: absolute;
				right: 3%;
				top: 40%;
				background: url(https://goo.gl/4HfC1a) 0 0 no-repeat;
				background-size: 20px 34px;
				width: 20px;
				height: 34px;
			}
		}
	}
}

.footer_area {
	background: #000;
	padding: 30px 0;
	.footer_wrap{
		overflow: hidden;
		max-width: 695px;
		margin: 0 auto;
		.footer_anchor {
			width: 50%;
			float: right;
			a {
				display: block;
				margin: 0 0 25px;
				text-align: right;
				font-size: 25px;
				letter-spacing: 1.5px;
				color: #56c123;
				span {
					letter-spacing: -2px;
				}
			}
		}
	}
	small {
		clear: both;
		display: block;
		margin: 0 auto;
		text-align: center;
		font-size: 22px;
		letter-spacing:1.5px;
		color: #d2d2d2;
	}
}


@media screen and (max-width: 768px) {
	.banner {
		padding: 6% 4% 6%;
		.banner_wrap {
			max-width: 650px;
		}
		.banner_btn {
			a {
				padding: 3% 0 3% 2.5%;
				font-size: calc(39vw/12);
				border-radius: 6px;
				line-height: 1.4;
				span {
					font-size: calc(31vw/12);
				}
				&:after {
					right: 3%;
					top: 38%;
					background-size: 14px 24px;
					width: 14px;
					height: 24px;
				}
			}
		}
	}

	.footer_area {
		padding: 4% 4% 4%;
		.footer_wrap{
			.footer_anchor {
				a {
					margin: 0 0 4%;
					font-size: calc(41vw/12);
					letter-spacing: 1.2px;
					span {
						letter-spacing: -4px;
					}
				}
			}
		}
		small {
			margin: 0 0 0;
			font-size: calc(28vw/12);
		}
	}

	.nav_item {
		overflow: hidden;
		margin: 0 0 0 -2%;
		li {
			padding: 0 3% 0 2%;
			line-height: 1.4;
			a {
				display: block;
				font-size: calc(32vw/12);
				color: #fff;
			}
			&:after {
				top: 2px;
				right: 0;
				font-size: 18px;
			}
		}
	}
}


@media screen and (max-width: 480px) {
	.banner {
		padding: 6% 7% 5%;
		.banner_btn {
			a {
				padding: 3% 0 3% 3%;
				font-size: calc(37vw/12);
				border-radius: 6px;
				line-height: 1.5;
				span {
					font-size: calc(31vw/12);
				}
				&:after {
					right: 3%;
					top: 38%;
					background-size: 10px 17px;
					width: 10px;
					height: 17px;
				}
			}
		}
	}
	.footer_area {
		padding: 4% 5% 4%;
		.footer_wrap{
			.footer_anchor {
				a {
					padding: 0 4px 0 0;
					margin: 0 0 7% 0;
					font-size: calc(44vw/12);
					letter-spacing: 1px;
					span {
						letter-spacing: -3px;
					}
				}
			}
		}
		small {
			margin: 0 0 0;
			font-size: calc(28vw/12);
		}
	}
}









