
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%;}


.fix_item {
	position: fixed;
	overflow: hidden;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	li {
		float: left;
		background: rgba(0,0,0,.7);
		width: 50%;
		a {
			display: block;
			height: 86px;
			border-bottom: 4px solid rgba(255,255,255,.25);
			line-height: 86px;
			text-align: center;
			font-weight: bold;
			font-size: 38px;
			color: #515151;

		}
		.active {
			border-bottom: 4px solid #fff;
			color: #51c300;
		}
	}
}

@media screen and (max-width: 768px) {
	.fix_item {
		li {
			background: rgba(0,0,0,.8);
			a {
				height: 60px;
				border-bottom: 3px solid #717171;
				line-height: 60px;
				font-size: calc(65vw/13);
			}
			.active {
				border-bottom: 3px solid #fff;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.fix_item {
		li {
			a {
				height: 60px;
				border-bottom: 2px solid #717171;
				line-height: 66px;
				font-size: calc(70vw/13);
			}
			.active {
				border-bottom: 2px solid #fff;
			}
		}
	}
}



header {
	background: #000;
	padding: 0 0 0;

	.header_wrap {
		background: url(https://goo.gl/1k75wU) 0 0 no-repeat;
		background-size: cover;
		padding: 70px 0 80px;
		margin: 20px 0 0;
	}
	.header_logo {
		max-width: 191px;
		padding: 1% 0 0 4%;
		line-height: 0;
	}
	.header_heading {
		max-width: 575px;
		margin: 0 auto 0;
		width: 92%;
		text-align: center;
	}
}

@media screen and (max-width: 1024px) {

	header {

		.header_wrap {
			padding: 3.5% 0 4%;
			margin: 2.5% 0 0;
		}
		.header_logo {
			padding: 1% 0 0 4%;
			line-height: 0;
			img {
				width: 80%;
			}
		}
		.header_heading {
			width: 92%;
		}
	}
}


@media screen and (max-width: 768px) {
	header {
		.header_wrap {
			padding: 13% 0 9%;
		}
		.header_logo {
			padding: 2% 0 0 4%;
			line-height: 0;
			img {
				width: 75%;
			}
		}
		.header_heading {
			width: 92%;
			img {
				width: 84%;
			}
		}
	}
}
@media screen and (max-width: 480px) {
	header {
		.header_wrap {
			padding: 13% 0 10%;
		}
		.header_logo {
			padding: 3% 0 0 4%;
			line-height: 0;
			img {
				width: 45%;
			}
		}
		.header_heading {
			width: 92%;
			img {
				width: 84%;
			}
		}
	}
}

@media screen and (max-width: 414px) {
	header {
		.header_logo {
			img {
				width: 50%;
			}
		}
	}
}


@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }

.ani_list01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3s 1 forwards; }


.contents {
	max-width: 800px;
	padding: 80px 4% 0;
	margin: 0 auto;
	&:first-of-type {
		padding: 30px 4% 0;
	}
	.contents_heading {
		font-size: 35px;
		font-weight: bold;
		line-height: 1.3;
		letter-spacing: 2px;
	}
	.title {
		margin: 15px 0 0;
		font-size: 22px;
		line-height: 1.4;
	}
	.new {
		position: relative;
		text-indent: 12.5%;
		&:before {
			content: 'NEW';
			position: absolute;
			top: 5px;
			left: 0;
			background: #ec2840;
			width: 9%;
			padding: 2px 0;
			border-radius: 4px;
			font-size: 14px;
			text-indent: 0;
			text-align: center;
			color: #fff;
		}
	}

	.inner {
		margin: 20px 0 0;
		border-radius: 4px;
		.movie_wrap {
			max-width: 800px;
			margin: 0 auto;

			.movie_inner {
				position: relative;
				width: 100%;
				padding-top: 56.25%;
				margin: 18px auto 0;

			}
			iframe {
				position: absolute;
				z-index: 5;
				left: 0;
				top: 0;
				width: 100% !important;
				height: 100% !important;
			}
		}
	}

	.more {
		position: relative;
		background: #171717;
		border-radius: 0 0 4px 4px;
		a {
			display: block;
			padding: 30px 0 30px;
			text-align: center;
			font-weight: bold;
			font-size: 27px;
			line-height: 1.4;
			letter-spacing: 1.5px;
			color: #56c123;
			span {
				display: block;
				font-size: 23px;
				color: #fff;
			}

		}
		&:after {
			content: '';
			position: absolute;
			right: 3%;
			top: 33%;
			background: url(https://goo.gl/4HfC1a) 0 0 no-repeat;
			background-size: 20px 34px;
			width: 20px;
			height: 34px;
		}
	}
}







@media screen and (max-width: 768px) {

	.contents {
		padding: 7% 4% 0;
		&:first-of-type {
			padding: 3% 4% 0;
		}
		.contents_heading {
			font-size: calc(54vw/12);
			line-height: 1.3;
			letter-spacing: 1.3px;
		}
		.title {
			margin: 2% 0 0;
			font-size: calc(39vw/12);
			line-height: 1.6;
		}
		.new {
			position: relative;
			text-indent: 12%;
			&:before {
				content: 'NEW';
				position: absolute;
				top: 10px;
				left: 0;
				background: #ec2840;
				width: 9%;
				padding: 1px 0;
				border-radius: 4px;
				font-size: 12px;
				text-indent: 0;
				text-align: center;
				color: #fff;
			}
		}

		.inner {
			margin: 4% 0 0;
			border-radius: 4px;
			.movie_wrap {
				.movie_inner {
					position: relative;
					width: 100%;
					padding-top: 56.25%;
					margin: 18px auto 0;

				}
				iframe {
					position: absolute;
					z-index: 5;
					left: 0;
					top: 0;
					width: 100% !important;
					height: 100% !important;
				}
			}
		}

		.more {
			border-radius: 0 0 6px 6px;
			a {
				padding: 4% 0;
				font-size: calc(43vw/12);
				letter-spacing: 1.2px;
				span {
					font-size: calc(38vw/12);
					color: #fff;
				}

			}
			&:after {
				right: 3%;
				top: 45%;
				background-size: 14px 24px;
				width: 14px;
				height: 24px;
			}
		}
		.date_single {
			&:after {
				top: 41%;
			}
		}
	}
}

@media screen and (max-width: 640px) {

	.contents {
		.new {
			&:before {
				top: 6px;
			}
		}
	}
}

@media screen and (max-width: 480px) {

	.contents {
		padding: 7% 5% 0;
		&:first-of-type {
			padding: 1% 5% 0;
		}
		.contents_heading {
			font-size: calc(56vw/12);
			line-height: 1.4;
			letter-spacing: 1.3px;
		}
		.title {
			margin: 2% 0 0;
			font-size: calc(42vw/12);
			line-height: 1.6;
		}
		.new {
			position: relative;
			text-indent: 14%;
			&:before {
				content: 'NEW';
				position: absolute;
				top: 2px;
				left: 0;
				background: #ec2840;
				width: 10%;
				padding: 0.5px 0;
				border-radius: 4px;
				font-size: 10px;
				text-indent: 0;
				text-align: center;
				color: #fff;
			}
		}

		.inner {
			margin: 4% 0 0;
			border-radius: 4px;
			.movie_wrap {
				.movie_inner {
					position: relative;
					width: 100%;
					padding-top: 56.25%;
					margin: 18px auto 0;

				}
				iframe {
					position: absolute;
					z-index: 5;
					left: 0;
					top: 0;
					width: 100% !important;
					height: 100% !important;
				}
			}
		}

		.more {
			border-radius: 0 0 6px 6px;
			a {
				padding: 4% 0;
				font-size: calc(43vw/12);
				letter-spacing: 1.2px;
				span {
					font-size: calc(38vw/12);
					color: #fff;
				}

			}
			&:after {
				right: 3%;
				top: 38%;
				background-size: 10px 17px;
				width: 10px;
				height: 17px;
			}
		}
		.date_single {
			&:after {
				top: 33.5%;
			}
		}
	}
}









.banner {
	max-width: 800px;
	padding: 60px 0 0;
	margin: 0 auto;

	.banner_btn {
		a {
			position: relative;
			display: block;
			background: #171717;
			padding: 22px 0 22px 20px;
			font-size: 28px;
			border-radius: 4px;
			line-height: 1.4;
			color: #fff;
			span {
				font-size: 23px;
				color: #56c123;
			}
			&:after {
				content: '';
				position: absolute;
				right: 3%;
				top: 40%;
				background: url(https://goo.gl/4HfC1a) 0 0 no-repeat;
				background-size: 20px 34px;
				width: 20px;
				height: 34px;
			}
		}
	}
}






.footer_nav {
	max-width: 800px;
	padding: 40px 0 25px;
	margin: 0 auto;
	.nav_area {
	}
	small {
		display: block;
		margin: 4% 0 0;
		text-align: center;
		font-size: 16px;
		color: #888;
	}
}

.nav_item {
	overflow: hidden;
	margin: 0 0 0 -2%;
	li {
		position: relative;
		float: left;
		padding: 0 3% 0 2%;
		line-height: 1.4;
		a {
			display: block;
			font-size: 18px;
			color: #fff;
		}
		&:after {
			content: '/';
			position: absolute;
			top: -1px;
			right: 0;
			font-size: 18px;
		}
	}
}


@media screen and (max-width: 768px) {
	.banner {
		padding: 6% 4% 0;
		.banner_btn {
			a {
				padding: 3% 0 3% 2.5%;
				font-size: calc(39vw/12);
				border-radius: 6px;
				line-height: 1.4;
				span {
					font-size: calc(31vw/12);
				}
				&:after {
					right: 3%;
					top: 38%;
					background-size: 14px 24px;
					width: 14px;
					height: 24px;
				}
			}
		}
	}

	.footer_nav {
		padding: 4% 4% 3%;
		.nav_area {
		}
		small {
			margin: 4% 0 0;
			font-size: calc(28vw/12);
		}
	}

	.nav_item {
		overflow: hidden;
		margin: 0 0 0 -2%;
		li {
			padding: 0 3% 0 2%;
			line-height: 1.4;
			a {
				display: block;
				font-size: calc(32vw/12);
				color: #fff;
			}
			&:after {
				top: 2px;
				right: 0;
				font-size: 18px;
			}
		}
	}
}


@media screen and (max-width: 480px) {
	.banner {
		padding: 7% 5% 0;
		.banner_btn {
			a {
				padding: 4% 0 4% 3%;
				font-size: calc(40vw/12);
				border-radius: 6px;
				line-height: 1.5;
				span {
					font-size: calc(34vw/12);
				}
				&:after {
					right: 3%;
					top: 38%;
					background-size: 10px 17px;
					width: 10px;
					height: 17px;
				}
			}
		}
	}

	.footer_nav {
		padding: 5% 5% 3%;
		.nav_area {
		}
		small {
			margin: 4% 0 0;
			font-size: calc(28vw/12);
		}
	}

	.nav_item {
		overflow: hidden;
		margin: 0 0 0 -2%;
		li {
			padding: 0 3% 0 2%;
			line-height: 1.7;
			a {
				display: block;
				font-size: calc(32vw/12);
				color: #fff;
			}
			&:after {
				top: -1px;
				right: 0;
				font-size: 11px;

			}
		}
	}
}

