body * { margin: 0; padding: 0; }

body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000; }
body li { list-style: none; }

a { -webkit-transition: .3s; transition: .3s; text-decoration: none; }
a:hover { text-decoration: none; opacity: .8; }

img { width: 100%; }

.header_logo { width: 680px; margin: 18px 0 20px 30px; text-align: left; }
.header_logo img { max-width: 191px; }

.heading_area { background: url(https://goo.gl/wUwmmx) 0 0 no-repeat; background-size: cover; margin: 0 0; }
.heading_area h2 { max-width: 520px; padding: 52px 0; margin: 0 auto; text-align: center; }

.wrap { max-width: 680px; margin: 0 auto; }

section { padding: 52px 0 0; }
section .nav_title { overflow: hidden; }
section .nav_title .nav_heading { float: left; font-size: 36px; letter-spacing: 1.2px; }
section .nav_title .nav_date { float: right; margin: 6px 0 0; font-size: 30px; font-weight: bold; letter-spacing: 1.2px; color: #8c8c8c; }
section .nav_title .nav_date span { font-size: 25px; }
section .nav_inner { margin: 43px 0 0; }
section .nav_item { overflow: hidden; padding: 0 0 15px; }
section .nav_item li { float: left; width: 24.3%; margin: 0 0 0 0.7%; }
section .nav_item li:first-child { margin: 0; }
section .nav_item li:nth-child(5) { margin: 0.8% 0 0 0; }
section .nav_item li:nth-child(6) { margin: 0.8% 0 0 0.7%; }
section .nav_item li:nth-child(7) { margin: 0.8% 0 0 0.7%; }
section .nav_item li a { display: block; border: 4px solid #313131; text-align: center; border-radius: 8px; padding: 6.5px 0 1px; }
section .nav_item li a img { max-width: 146px; }
section .nav_item li .active { border: 4px solid #51c300; }

.contents { padding: 55px 0 0; }
.contents .c_heading { font-size: 36px; letter-spacing: 1.4px; }
.contents .c_inner { background: #303030; padding: 20px 24px 26px 26px; margin: 40px 0 0; border-radius: 5px; }
.contents .c_inner .c_title { position: relative; min-height: 72px; padding: 0 0 0 85px; font-size: 28px; letter-spacing: 1.5px; line-height: 1.3; }
.contents .c_inner .c_title:before { content: ''; position: absolute; top: 2px; left: 4px; background: url(https://goo.gl/TMmRpB) 0 0 no-repeat; background-size: 46px 36px; width: 46px; height: 36px; }
.contents .c_inner:nth-of-type(2) .c_title:before { background: url(https://goo.gl/YX6Mf4) 0 0 no-repeat; }
.contents .c_inner:nth-of-type(3) .c_title:before { background: url(https://goo.gl/q6DXLT) 0 0 no-repeat; }
.contents .c_inner:nth-of-type(4) .c_title:before { left: 8px; background: url(https://goo.gl/Wqng5D) 0 0 no-repeat; background-size: 38px 38px; width: 38px; height: 38px; }
.contents .c_inner:nth-of-type(5) .c_title:before { left: 8px; background: url(https://goo.gl/f4Am8f) 0 0 no-repeat; background-size: 38px 38px; width: 38px; height: 38px; }
.contents .c_inner:nth-of-type(6) .c_title:before { left: 8px; background: url(https://goo.gl/MGoxUj) 0 0 no-repeat; background-size: 38px 38px; width: 38px; height: 38px; }
.contents .c_inner:nth-of-type(7) .c_title:before { left: 8px; background: url(https://goo.gl/PmkRFD) 0 0 no-repeat; background-size: 38px 38px; width: 38px; height: 38px; }
.contents .c_inner:nth-of-type(8) .c_title:before { left: 8px; background: url(https://goo.gl/vv3xoS) 0 0 no-repeat; background-size: 38px 38px; width: 38px; height: 38px; }
.contents .c_inner:nth-of-type(9) .c_title:before { left: 8px; background: url(https://goo.gl/1ftdTQ) 0 0 no-repeat; background-size: 38px 38px; width: 38px; height: 38px; }
.contents .c_inner:nth-of-type(10) .c_title:before { left: 8px; background: url(https://goo.gl/MWZfkL) 0 0 no-repeat; background-size: 38px 38px; width: 38px; height: 38px; }
.contents .c_inner .new:after { content: ''; position: absolute; top: 48px; left: 4px; background: url(https://goo.gl/Zeqd9c) 0 0 no-repeat; background-size: 46px 18px; width: 46px; height: 18px; }
.contents .c_inner .c_i_box { overflow: hidden; margin: 20px 0 0; }
.contents .c_inner .c_i_box figure { float: left; width: 45%; }
.contents .c_inner .c_i_box .c_i_text { float: right; width: 50%; }
.contents .c_inner .c_i_box .c_i_text .free_head { font-size: 23px; line-height: 1.28; }
.contents .c_inner .c_i_box .c_i_text .free_p { margin: 16px 0 0; font-size: 24px; line-height: 1.2; color: #8c8c8c; }
.contents .c_inner .c_i_box .c_i_text .free_p span { display: inline; }
.contents .c_inner .btn { margin: 20px 0 0; }
.contents .c_inner .btn a { display: block; background: #51c300; padding: 15px 0; text-align: center; border-radius: 5px; font-size: 24px; color: #fff; }

footer { padding: 0 0 30px; margin: 80px 0 0; }
footer .footer_item { overflow: hidden; margin: 0 0 0 -2%; }
footer li { position: relative; float: left; padding: 0 1.5% 0 1.5%; line-height: 1.4; }
footer li a { display: block; font-size: 16.5px; color: #fff; }
footer li a:visited { color: #fff; }
footer li:after { content: '/'; position: absolute; top: -1px; right: -3px; font-size: 16.5px; }
footer li:last-child:after { content: ''; }
footer .footer_text { overflow: hidden; margin: 4% 0 0; font-size: 12px; line-height: 1.5; color: #878787; }
footer .footer_text li { float: left; }
footer .footer_small_wrap { margin: 2% 0 0; text-align: center; }
footer .footer_small { font-size: 12px; color: #878787; }

#back-top { z-index: 10000; display: none; position: fixed; bottom: 20px; right: 20px; }
#back-top a { display: block; }
#back-top img { width: 50px; }

@media screen and (max-width: 768px) { .header_logo { width: auto; margin: 2% 3% 2% 5%; }
  .header_logo img { width: 29%; }
  .heading_area h2 { width: 100%; max-width: none; padding: 7% 0; }
  .heading_area h2 img { width: 68%; }
  .wrap { padding: 0 4.2% 0; }
  section { padding: 7% 0 0; }
  section .nav_title .nav_heading { font-size: calc(57vw/12); letter-spacing: 1.2px; }
  section .nav_title .nav_date { margin: 0.9% 0 0; font-size: calc(47vw/12); letter-spacing: 1.2px; }
  section .nav_title .nav_date span { font-size: calc(40vw/12); }
  section .nav_inner { margin: 6% 0 0; }
  section .nav_item { overflow: hidden; padding: 0 0 3%; }
  section .nav_item li { float: left; width: 24.3%; margin: 0 0 0 0.7%; }
  section .nav_item li:first-child { margin: 0; }
  section .nav_item li:nth-child(5) { margin: 0.8% 0 0 0; }
  section .nav_item li:nth-child(6) { margin: 0.8% 0 0 0.7%; }
  section .nav_item li:nth-child(7) { margin: 0.8% 0 0 0.7%; }
  section .nav_item li a { display: block; border: 4px solid #313131; text-align: center; border-radius: 8px; padding: 3.5% 0 1%; }
  section .nav_item li a img { max-width: 146px; }
  section .nav_item li .active { border: 4px solid #51c300; }
  .contents { padding: 7% 0 0; }
  .contents .c_heading { font-size: calc(58vw/12); letter-spacing: 1.4px; }
  .contents .c_inner { padding: 2.9% 3.5% 3.8% 3.9%; margin: 5.8% 0 0; border-radius: 5px; }
  .contents .c_inner .c_title { min-height: 72px; padding: 0 0 0 14%; font-size: calc(45vw/12); letter-spacing: 1.4px; line-height: 1.35; }
  .contents .c_inner .c_title:before { content: ''; position: absolute; top: 2px; left: 4px; background: url(https://goo.gl/TMmRpB) 0 0 no-repeat; background-size: 46px 36px; width: 46px; height: 36px; }
  .contents .c_inner .new:after { content: ''; position: absolute; top: 48px; left: 4px; background: url(https://goo.gl/Zeqd9c) 0 0 no-repeat; background-size: 46px 18px; width: 46px; height: 18px; }
  .contents .c_inner .c_i_box { margin: 3.2% 0 0; }
  .contents .c_inner .c_i_box .c_i_text .free_head { font-size: calc(38vw/12); line-height: 1.3; }
  .contents .c_inner .c_i_box .c_i_text .free_p { margin: 5% 0 0; font-size: calc(39vw/12); line-height: 1.2; }
  .contents .c_inner .btn { margin: 3.1% 0 0; }
  .contents .c_inner .btn a { padding: 3.2% 0; border-radius: 5px; font-size: calc(39vw/12); }
  .contents .c_inner:nth-of-type(2) .c_title:before { background: url(https://goo.gl/YX6Mf4) 0 0 no-repeat; }
  .contents .c_inner:nth-of-type(3) .c_title:before { background: url(https://goo.gl/q6DXLT) 0 0 no-repeat; }
  .contents .c_inner:nth-of-type(4) .c_title:before { left: 8px; background: url(https://goo.gl/Wqng5D) 0 0 no-repeat; background-size: 38px 38px; width: 38px; height: 38px; }
  .contents .c_inner:nth-of-type(5) .c_title:before { left: 8px; background: url(https://goo.gl/f4Am8f) 0 0 no-repeat; background-size: 38px 38px; width: 38px; height: 38px; }
  .contents .c_inner:nth-of-type(6) .c_title:before { left: 8px; background: url(https://goo.gl/MGoxUj) 0 0 no-repeat; background-size: 38px 38px; width: 38px; height: 38px; }
  .contents .c_inner:nth-of-type(7) .c_title:before { left: 8px; background: url(https://goo.gl/PmkRFD) 0 0 no-repeat; background-size: 38px 38px; width: 38px; height: 38px; }
  .contents .c_inner:nth-of-type(8) .c_title:before { left: 8px; background: url(https://goo.gl/vv3xoS) 0 0 no-repeat; background-size: 38px 38px; width: 38px; height: 38px; }
  .contents .c_inner:nth-of-type(9) .c_title:before { left: 8px; background: url(https://goo.gl/1ftdTQ) 0 0 no-repeat; background-size: 38px 38px; width: 38px; height: 38px; }
  .contents .c_inner:nth-of-type(10) .c_title:before { left: 8px; background: url(https://goo.gl/MWZfkL) 0 0 no-repeat; background-size: 38px 38px; width: 38px; height: 38px; }
  footer { padding: 0 0 5%; margin: 10.5% 0 0; }
  footer .footer_item { overflow: hidden; margin: 0 0 0 -1.5%; }
  footer li { padding: 0 1.5% 0 1.5%; line-height: 1.4; }
  footer li a { font-size: calc(26vw/12); }
  footer li a:visited { color: #fff; }
  footer li:after { top: -2px; right: -2px; font-size: calc(26vw/12); }
  footer .footer_text { margin: 4% 0 0; font-size: calc(21vw/12); line-height: 1.4; }
  footer .footer_small_wrap { margin: 2% 0 0; }
  footer .footer_small { font-size: calc(19vw/12); color: #878787; }
  #back-top { bottom: 20px; right: 20px; }
  #back-top img { width: 50px; } }
@media screen and (max-width: 600px) { .contents .c_inner .c_title { min-height: 56px; }
  .contents .c_inner .c_title:before { top: 0px; left: 4px; background-size: 37px 29px; width: 37px; height: 29px; }
  .contents .c_inner .new:after { content: ''; position: absolute; top: 36px; left: 4px; background: url(https://goo.gl/Zeqd9c) 0 0 no-repeat; background-size: 37px 14px; width: 37px; height: 14px; }
  .contents .c_inner:nth-of-type(2) .c_title:before { background: url(https://goo.gl/YX6Mf4) 0 0 no-repeat; background-size: 37px 29px; }
  .contents .c_inner:nth-of-type(3) .c_title:before { background: url(https://goo.gl/q6DXLT) 0 0 no-repeat; background-size: 37px 29px; }
  .contents .c_inner:nth-of-type(4) .c_title:before { left: 8px; background: url(https://goo.gl/Wqng5D) 0 0 no-repeat; background-size: 30px 30px; width: 30px; height: 30px; }
  .contents .c_inner:nth-of-type(5) .c_title:before { left: 8px; background: url(https://goo.gl/f4Am8f) 0 0 no-repeat; background-size: 30px 30px; width: 30px; height: 30px; }
  .contents .c_inner:nth-of-type(6) .c_title:before { left: 8px; background: url(https://goo.gl/MGoxUj) 0 0 no-repeat; background-size: 30px 30px; width: 30px; height: 30px; }
  .contents .c_inner:nth-of-type(7) .c_title:before { left: 8px; background: url(https://goo.gl/PmkRFD) 0 0 no-repeat; background-size: 30px 30px; width: 30px; height: 30px; }
  .contents .c_inner:nth-of-type(8) .c_title:before { left: 8px; background: url(https://goo.gl/vv3xoS) 0 0 no-repeat; background-size: 30px 30px; width: 30px; height: 30px; }
  .contents .c_inner:nth-of-type(9) .c_title:before { left: 8px; background: url(https://goo.gl/1ftdTQ) 0 0 no-repeat; background-size: 30px 30px; width: 30px; height: 30px; }
  .contents .c_inner:nth-of-type(10) .c_title:before { left: 8px; background: url(https://goo.gl/MWZfkL) 0 0 no-repeat; background-size: 30px 30px; width: 30px; height: 30px; }
  #back-top { bottom: 14px; right: 14px; }
  #back-top img { width: 40px; } }
@media screen and (max-width: 480px) { .header_logo { margin: 1.8% 0 2.4% 5%; }
  .header_logo img { width: 29%; }
  .heading_area h2 { padding: 6.4% 0; }
  .heading_area h2 img { width: 69%; }
  .wrap { padding: 0 5% 0; }
  section { padding: 7% 0 0; }
  section .nav_title .nav_heading { font-size: calc(60vw/12); letter-spacing: 0.5px; }
  section .nav_title .nav_date { margin: 0.9% 0 0; font-size: calc(50vw/12); letter-spacing: 0.5px; }
  section .nav_title .nav_date span { font-size: calc(43vw/12); }
  section .nav_inner { margin: 6% 0 0; }
  section .nav_item { overflow: hidden; margin: 0 0 1%; }
  section .nav_item li { float: left; width: 24.3%; margin: 0 0 0 0.7%; }
  section .nav_item li:first-child { margin: 0; }
  section .nav_item li:nth-child(5) { margin: 0.8% 0 0 0; }
  section .nav_item li:nth-child(6) { margin: 0.8% 0 0 0.7%; }
  section .nav_item li:nth-child(7) { margin: 0.8% 0 0 0.7%; }
  section .nav_item li a { border: 2px solid #313131; border-radius: 6px; padding: 2.5% 0 0.3%; }
  section .nav_item li .active { border: 2px solid #51c300; }
  .contents { padding: 6% 0 0; }
  .contents .c_heading { font-size: calc(61vw/12); letter-spacing: 1.4px; }
  .contents .c_inner { padding: 2.9% 3.5% 3.8% 3.9%; margin: 5.8% 0 0; border-radius: 5px; }
  .contents .c_inner .c_title { min-height: 42px; padding: 0 0 0 14%; font-size: calc(48vw/12); letter-spacing: 1.4px; line-height: 1.35; }
  .contents .c_inner .c_title:before { top: 3px; left: 4px; background-size: 23px 18px; width: 23px; height: 18px; }
  .contents .c_inner .c_i_box { margin: 3.2% 0 0; }
  .contents .c_inner .c_i_box .c_i_text .free_head { font-size: calc(41vw/12); line-height: 1.3; }
  .contents .c_inner .c_i_box .c_i_text .free_p { margin: 5% 0 0; font-size: calc(42vw/12); line-height: 1.2; }
  .contents .c_inner .btn { margin: 4% 0 0; }
  .contents .c_inner .btn a { padding: 3% 0; border-radius: 5px; font-size: calc(42vw/12); }
  .contents .c_inner .new:after { content: ''; position: absolute; top: 26px; left: 4px; background: url(https://goo.gl/Zeqd9c) 0 0 no-repeat; background-size: 23px 9px; width: 23px; height: 9px; }
  .contents .c_inner:nth-of-type(2) .c_title:before { background: url(https://goo.gl/YX6Mf4) 0 0 no-repeat; background-size: 23px 18px; }
  .contents .c_inner:nth-of-type(3) .c_title:before { background: url(https://goo.gl/q6DXLT) 0 0 no-repeat; background-size: 23px 18px; }
  .contents .c_inner:nth-of-type(4) .c_title:before { left: 6px; background: url(https://goo.gl/Wqng5D) 0 0 no-repeat; background-size: 19px 19px; width: 19px; height: 19px; }
  .contents .c_inner:nth-of-type(5) .c_title:before { left: 6px; background: url(https://goo.gl/f4Am8f) 0 0 no-repeat; background-size: 19px 19px; width: 19px; height: 19px; }
  .contents .c_inner:nth-of-type(6) .c_title:before { left: 6px; background: url(https://goo.gl/MGoxUj) 0 0 no-repeat; background-size: 19px 19px; width: 19px; height: 19px; }
  .contents .c_inner:nth-of-type(7) .c_title:before { left: 6px; background: url(https://goo.gl/PmkRFD) 0 0 no-repeat; background-size: 19px 19px; width: 19px; height: 19px; }
  .contents .c_inner:nth-of-type(8) .c_title:before { left: 6px; background: url(https://goo.gl/vv3xoS) 0 0 no-repeat; background-size: 19px 19px; width: 19px; height: 19px; }
  .contents .c_inner:nth-of-type(9) .c_title:before { left: 6px; background: url(https://goo.gl/1ftdTQ) 0 0 no-repeat; background-size: 19px 19px; width: 19px; height: 19px; }
  .contents .c_inner:nth-of-type(10) .c_title:before { left: 6px; background: url(https://goo.gl/MWZfkL) 0 0 no-repeat; background-size: 19px 19px; width: 19px; height: 19px; }
  #back-top { bottom: 10px; right: 10px; }
  #back-top img { width: 40px; }
  footer { padding: 0 0 4%; margin: 9% 0 0; }
  footer .footer_item { margin: 0 0 0 -1.5%; }
  footer li { padding: 0 1.5% 0 1.5%; line-height: 1.55; }
  footer li a { font-size: calc(30vw/12); }
  footer li:after { top: -1px; right: -2px; font-size: calc(30vw/12); }
  footer .footer_text { margin: 4% 0 0; font-size: calc(24vw/12); line-height: 1.4; }
  footer .footer_small_wrap { margin: 2% 0 0; }
  footer .footer_small { font-size: calc(22vw/12); } }
