@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #fff;
  margin: 0 auto;
  background: #000;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
}

header .header_logo {
  max-width: 191px;
  padding: 12px 0 12px 4%;
  line-height: 0;
}
header .header_inner {
  background: url(https://goo.gl/FXyFHa) 0 0 no-repeat;
  background-size: cover;
  padding: 83px 0 89px;
}
header .header_heading {
  max-width: 586px;
  margin: 0 auto 0;
}
header .header_title {
  max-width: 586px;
  margin: 24px auto 0;
}

@media screen and (max-width: 1024px) {
  header .header_logo {
    padding: 1% 0 1% 4%;
    line-height: 0;
  }
  header .header_logo img {
    width: 80%;
  }
  header .header_inner {
    padding: 8.5% 0 9.5%;
  }
  header .header_heading {
    width: 80%;
  }
  header .header_title {
    margin: 2.5% auto 0;
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  header .header_logo {
    padding: 1.5% 0 1.5% 2.2%;
    line-height: 0;
  }
  header .header_logo img {
    width: 70%;
  }
  header .header_inner {
    padding: 8.5% 0 9.5%;
  }
  header .header_heading {
    width: 75%;
  }
  header .header_title {
    margin: 2.5% auto 0;
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  header .header_logo {
    padding: 1.5% 0 1.5% 2.2%;
    line-height: 0;
  }
  header .header_logo img {
    width: 45%;
  }
  header .header_inner {
    padding: 10.5% 0 12.5%;
  }
  header .header_heading {
    width: 78%;
  }
  header .header_title {
    margin: 3.4% auto 0;
    width: 78%;
  }
}
@media screen and (max-width: 414px) {
  header .header_logo img {
    width: 40%;
  }
}
@-webkit-keyframes item_sp {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes item_list {
  100% {
    opacity: 1;
  }
}
@keyframes item_list {
  100% {
    opacity: 1;
  }
}
.ani_list01 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 3s 1 forwards;
}

.ani_list02 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 3.5s 1 forwards;
}

.ani_list03 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 4s 1 forwards;
}

.ani_list04 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 4.5s 1 forwards;
}

.contents .contents_wrap {
  padding: 60px 0 0;
  margin: 0 auto;
  max-width: 768px;
}
.contents .c_para {
  padding: 0;
}
.contents .contents_head {
  background: #232323;
  padding: 15px 0;
  margin: 0 auto;
  font-size: 32px;
  border-radius: 40px;
  text-align: center;
  color: #50c401;
}
.contents .contents_head span {
  font-size: 36px;
  letter-spacing: 2px;
}
.contents .contents_inner {
  margin: 60px 0 0;
}
.contents .contents_inner:nth-of-type(1) {
  margin: 50px 0 0;
}
.contents .contents_inner .contents_heading {
  padding: 0 0 0 14px;
  border-left: 4px solid #50c401;
  font-size: 33px;
  font-weight: bold;
  color: #fff;
}
.contents .contents_inner .c_padd {
  margin: 68px 0 0;
}
.contents .contents_inner .contents_text {
  padding: 0 0 0 14px;
  margin: 25px 0 0;
  font-size: 28px;
  line-height: 1.3;
  color: #ababab;
}
.contents .contents_inner .contents_text span {
  display: inline-block;
  font-size: 15px;
  vertical-align: super;
  margin: 0 2px;
}
.contents .contents_inner .contents_c {
  padding: 0 0 0 14px;
  margin: 12px 0 0;
  font-size: 20px;
  color: #ababab;
}
.contents .contents_inner .contents_c li {
  margin: 8px 0 0;
  line-height: 1.4;
  font-size: 21px;
}
.contents .contents_inner .contents_c li:first-child {
  margin: 0;
}
.contents .contents_box {
  background: #232323;
  padding: 20px 20px 30px;
  margin: 40px 0 0;
  border-radius: 8px;
}
.contents .contents_box:first-of-type {
  margin: 25px 0 0;
}
.contents .contents_box .contents_b_i td {
  width: 36%;
}
.contents .contents_box .contents_b_i th {
  padding: 0 0 0 17px;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 1.6px;
  text-align: left;
  vertical-align: middle;
}
.contents .contents_box .c_t {
  margin: 15px 0 0;
  font-size: 28px;
  line-height: 1.2;
}
.contents .contents_box .c_t span {
  color: #50c401;
}
.contents .contents_box .app {
  padding: 0 0 0 11px;
  margin: 66px 0 0;
  font-size: 26px;
  border-left: 4px solid #50c401;
  font-weight: normal;
}
.contents .contents_box .app:first-of-type {
  margin: 30px 0 0;
}
.contents .contents_box .app_t {
  margin: 13px 0 0;
  font-size: 26px;
  line-height: 1.3;
  color: #ababab;
}
.contents .contents_box .app_hide {
  display: none;
}
.contents .contents_box .more {
  margin: 30px 0 0;
}
.contents .contents_box .more a {
  display: block;
  background: #50c401;
  padding: 20px 0;
  font-weight: bold;
  font-size: 28px;
  border-radius: 6px;
  text-align: center;
  color: #fff;
}
.contents .c_box {
  margin: 24px 0 0;
  text-align: left;
}
.contents .c_box li {
  background: #232323;
  padding: 20px 20px 24px;
  margin: 20px 0 0 0;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.contents .c_box li:first-child {
  margin: 0;
}
.contents .c_box li .c_b_h {
  width: 100%;
  font-size: 28px;
}
.contents .c_box li .c_b_t {
  margin: 13px 0 0;
  font-size: 26px;
  line-height: 1.4;
  color: #ababab;
}
.contents .c_box .c_b_i {
  margin: 8px 0 0;
}
.contents .c_box .c_b_i li {
  padding: 0;
  margin: 8px 0 0;
  font-size: 20px;
  line-height: 1.3;
  color: #ababab;
}
.contents .c_box .c_b_i li:first-child {
  margin: 0;
}
.contents .c_caution {
  padding: 0 0 0 10px;
  margin: 20px 0 0;
}
.contents .c_caution li {
  position: relative;
  padding: 0 0 0 5px;
  margin: 10px 0 0;
  line-height: 1.3;
  font-size: 26px;
  color: #ababab;
}
.contents .c_caution li:first-child {
  margin: 0;
}
.contents .c_caution li a {
  text-decoration: underline;
  color: #fff;
}
.contents .c_caution li span {
  color: #fff;
}
.contents .c_caution_icon {
  padding: 0 0 0 15px;
  margin: 20px 0 0;
}
.contents .c_caution_icon li {
  position: relative;
  padding: 0 0 0 28px;
  margin: 10px 0 0;
  line-height: 1.3;
  font-size: 26px;
  color: #ababab;
}
.contents .c_caution_icon li:first-child {
  margin: 0;
}
.contents .c_caution_icon li:before {
  content: '・';
  position: absolute;
  top: 13px;
  left: -23px;
  font-size: 68px;
  line-height: 0;
  color: #ababab;
}
.contents .c_caution_icon li a {
  display: inline-block;
  text-decoration: underline;
  color: #fff;
}
.contents .c_text {
  margin: 15px 0 0 13px;
  font-size: 21px;
  line-height: 1.3;
  color: #ababab;
}
.contents .banner {
  margin: 60px 0 0;
}
.contents .banner a {
  position: relative;
  display: block;
  background: #232323;
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 33px;
  line-height: 1.3;
  color: #fff;
}
.contents .banner a span {
  font-size: 28px;
  font-weight: bold;
  color: #50c401;
}
.contents .banner a:after {
  content: '';
  position: absolute;
  top: 40%;
  right: 4%;
  background: url(https://goo.gl/wUGUeM) 0 0 no-repeat;
  background-size: 19px 34px;
  width: 19px;
  height: 34px;
}

.footer {
  margin: 65px 0 0;
}
.footer .footer_wrap {
  max-width: 768px;
  padding: 37px 0 0;
  margin: 0 auto;
  border-top: 1px solid #ababab;
}
.footer .footer_co {
  font-size: 18px;
  line-height: 1.45;
  color: #ababab;
}
.footer small {
  display: block;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 18px;
  color: #ababab;
}

@media screen and (max-width: 768px) {
  .contents .contents_wrap {
    padding: 6% 5% 0;
  }
  .contents .c_para {
    padding: 0 5% 0;
  }
  .contents .contents_head {
    padding: 2% 0;
    font-size: calc(50vw/12);
    border-radius: 40px;
  }
  .contents .contents_head span {
    font-size: calc(54vw/12);
    letter-spacing: 1.5px;
  }
  .contents .contents_inner {
    margin: 8% 0 0;
  }
  .contents .contents_inner:nth-of-type(1) {
    margin: 7% 0 0;
  }
  .contents .contents_inner .contents_heading {
    padding: 0 0 0 3%;
    border-left: 3px solid #50c401;
    font-size: calc(52vw/12);
  }
  .contents .contents_inner .c_padd {
    margin: 10% 0 0;
  }
  .contents .contents_inner .contents_text {
    padding: 0 0 0 3%;
    margin: 3.5% 0 0;
    font-size: calc(44vw/12);
    line-height: 1.3;
  }
  .contents .contents_inner .contents_text span {
    font-size: calc(32vw/13);
    margin: 0 0.3%;
  }
  .contents .contents_inner .contents_c {
    padding: 0 0 0 3%;
    margin: 3% 0 0;
    font-size: calc(34vw/12);
  }
  .contents .contents_inner .contents_c li {
    margin: 2.5% 0 0;
    line-height: 1.4;
    font-size: calc(34vw/12);
  }
  .contents .contents_box {
    padding: 3% 3% 4.5%;
    margin: 6% 0 0;
    border-radius: 6px;
  }
  .contents .contents_box:first-of-type {
    margin: 4% 0 0;
  }
  .contents .contents_box .contents_b_i td {
    width: 39%;
  }
  .contents .contents_box .contents_b_i th {
    padding: 0 0 0 3%;
    margin: 3% 0 0;
    font-size: calc(48vw/12);
    line-height: 1.1;
    letter-spacing: 1.1px;
  }
  .contents .contents_box .c_t {
    margin: 4% 0 0;
    font-size: calc(47vw/12);
    line-height: 1.3;
  }
  .contents .contents_box .app {
    padding: 0 0 0 2%;
    margin: 10% 0 0;
    font-size: calc(41vw/12);
    border-left: 3px solid #50c401;
  }
  .contents .contents_box .app:first-of-type {
    margin: 5% 0 0;
  }
  .contents .contents_box .app_t {
    margin: 2% 0 0;
    font-size: calc(41vw/12);
    line-height: 1.4;
  }
  .contents .contents_box .more {
    margin: 5% 0 0;
  }
  .contents .contents_box .more a {
    padding: 3% 0;
    font-size: calc(44vw/12);
    border-radius: 6px;
  }
  .contents .c_box {
    margin: 3.5% 0 0;
  }
  .contents .c_box li {
    background: #232323;
    padding: 3% 3% 3.3%;
    margin: 3% 0 0 0;
    border-radius: 7px;
  }
  .contents .c_box li .c_b_h {
    font-size: calc(46vw/12);
  }
  .contents .c_box li .c_b_t {
    margin: 3.5% 0 0;
    font-size: calc(42vw/12);
    line-height: 1.4;
  }
  .contents .c_box .c_b_i {
    margin: 3% 0 0;
  }
  .contents .c_box .c_b_i li {
    margin: 2% 0 0;
    font-size: calc(35vw/12);
    line-height: 1.3;
  }
  .contents .c_box .c_b_i li:first-child {
    margin: 0;
  }
  .contents .c_caution {
    padding: 0 0 0 3%;
    margin: 3% 0 0;
  }
  .contents .c_caution li {
    padding: 0;
    line-height: 1.3;
    font-size: calc(40vw/12);
  }
  .contents .c_caution_icon {
    padding: 0 0 0 3%;
    margin: 3% 0 0;
  }
  .contents .c_caution_icon li {
    position: relative;
    padding: 0 0 0 4.5%;
    margin: 2% 0 0;
    line-height: 1.3;
    font-size: calc(42vw/12);
  }
  .contents .c_caution_icon li:first-child {
    margin: 0;
  }
  .contents .c_caution_icon li:before {
    top: 13px;
    left: -21px;
    font-size: 52px;
  }
  .contents .c_caution_icon li a {
    display: inline-block;
    text-decoration: underline;
    color: #fff;
  }
  .contents .c_text {
    margin: 3% 0 0 3%;
    font-size: calc(36vw/12);
    line-height: 1.3;
  }
  .contents .banner {
    margin: 9% 0 0;
  }
  .contents .banner a {
    padding: 3% 6.5%;
    border-radius: 7px;
    font-size: calc(52vw/12);
    line-height: 1.3;
  }
  .contents .banner a span {
    font-size: calc(48vw/12);
  }
  .contents .banner a:after {
    top: 40%;
    right: 4%;
    background: url(https://goo.gl/wUGUeM) 0 0 no-repeat;
    background-size: 15px 27px;
    width: 15px;
    height: 27px;
  }

  .footer {
    margin: 9% 5% 0;
  }
  .footer .footer_wrap {
    padding: 6% 0 0;
  }
  .footer .footer_co {
    font-size: calc(31vw/12);
    line-height: 1.45;
  }
  .footer small {
    height: 60px;
    line-height: 60px;
    font-size: calc(32vw/12);
  }
}
@media screen and (max-width: 480px) {
  .contents .contents_wrap {
    padding: 6% 5% 0;
  }
  .contents .c_para {
    padding: 0 5% 0;
  }
  .contents .contents_head {
    padding: 2% 0;
    font-size: calc(53vw/12);
    border-radius: 40px;
  }
  .contents .contents_head span {
    font-size: calc(54vw/12);
    letter-spacing: 1.5px;
  }
  .contents .contents_inner {
    margin: 8% 0 0;
  }
  .contents .contents_inner:nth-of-type(1) {
    margin: 7% 0 0;
  }
  .contents .contents_inner .contents_heading {
    padding: 0 0 0 3%;
    border-left: 2px solid #50c401;
    font-size: calc(55vw/12);
  }
  .contents .contents_inner .c_padd {
    margin: 8% 0 0;
  }
  .contents .contents_inner .contents_text {
    padding: 0 0 0 3%;
    margin: 3.5% 0 0;
    font-size: calc(47vw/12);
    line-height: 1.3;
  }
  .contents .contents_inner .contents_text span {
    font-size: calc(32vw/13);
    margin: 0 0.2%;
  }
  .contents .contents_inner .contents_c {
    padding: 0 0 0 3%;
    margin: 3% 0 0;
    font-size: calc(37vw/12);
  }
  .contents .contents_inner .contents_c li {
    margin: 2% 0 0;
    line-height: 1.4;
    font-size: calc(37vw/12);
  }
  .contents .contents_box {
    padding: 3% 3% 4.5%;
    margin: 6% 0 0;
    border-radius: 6px;
  }
  .contents .contents_box:first-of-type {
    margin: 4% 0 0;
  }
  .contents .contents_box .contents_b_i td {
    width: 40%;
  }
  .contents .contents_box .contents_b_i th {
    margin: 3% 0 0;
    font-size: calc(51vw/12);
    line-height: 1.3;
    letter-spacing: 1.4px;
  }
  .contents .contents_box .c_t {
    margin: 3% 0 0;
    font-size: calc(49vw/12);
    line-height: 1.3;
  }
  .contents .contents_box .app {
    padding: 0 0 0 2%;
    margin: 10% 0 0;
    font-size: calc(44vw/12);
    border-left: 2px solid #50c401;
  }
  .contents .contents_box .app:first-of-type {
    margin: 5% 0 0;
  }
  .contents .contents_box .app_t {
    margin: 2% 0 0;
    font-size: calc(44vw/12);
    line-height: 1.4;
  }
  .contents .contents_box .more {
    margin: 5% 0 0;
  }
  .contents .contents_box .more a {
    padding: 3% 0;
    font-size: calc(47vw/12);
    border-radius: 6px;
  }
  .contents .c_box {
    margin: 3.5% 0 0;
  }
  .contents .c_box li {
    background: #232323;
    padding: 3% 3% 3.3%;
    margin: 3% 0 0 0;
    border-radius: 7px;
  }
  .contents .c_box li .c_b_h {
    font-size: calc(48vw/12);
  }
  .contents .c_box li .c_b_t {
    margin: 3.5% 0 0;
    font-size: calc(44vw/12);
    line-height: 1.4;
  }
  .contents .c_box .c_b_i {
    margin: 8px 0 0;
  }
  .contents .c_box .c_b_i li {
    margin: 2% 0 0;
    font-size: calc(38vw/12);
    line-height: 1.3;
  }
  .contents .c_caution {
    padding: 0 0 0 3%;
    margin: 3% 0 0;
  }
  .contents .c_caution li {
    padding: 0;
    line-height: 1.3;
    font-size: calc(43vw/12);
  }
  .contents .c_caution_icon {
    padding: 0 0 0 3%;
    margin: 3% 0 0;
  }
  .contents .c_caution_icon li {
    position: relative;
    padding: 0 0 0 4.5%;
    margin: 2% 0 0;
    line-height: 1.3;
    font-size: calc(45vw/12);
  }
  .contents .c_caution_icon li:first-child {
    margin: 0;
  }
  .contents .c_caution_icon li:before {
    top: 13px;
    left: -21px;
    font-size: 52px;
  }
  .contents .c_caution_icon li a {
    display: inline-block;
    text-decoration: underline;
    color: #fff;
  }
  .contents .c_text {
    margin: 3% 0 0 3%;
    font-size: calc(42vw/12);
    line-height: 1.3;
  }
  .contents .banner {
    margin: 9% 0 0;
  }
  .contents .banner a {
    padding: 3% 6.5%;
    border-radius: 6px;
    font-size: calc(58vw/12);
    line-height: 1.3;
  }
  .contents .banner a span {
    font-size: calc(50vw/12);
  }
  .contents .banner a:after {
    top: 40%;
    right: 4%;
    background-size: 11px 20px;
    width: 11px;
    height: 20px;
  }

  .c_para {
    padding: 0;
  }

  .footer {
    margin: 9% 5% 0;
  }
  .footer .footer_wrap {
    padding: 6% 0 0;
  }
  .footer .footer_co {
    font-size: calc(32vw/12);
    line-height: 1.45;
  }
  .footer small {
    height: 40px;
    line-height: 40px;
    font-size: calc(33vw/12);
  }
}
